html, body {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

a {
  color: #ffffff;
}

#content {
  border-style: solid;
  padding: 10px;
  border-radius: 5px;
}