@font-face {
  font-family: 'Anisa';
  src: url("font/AnisaSans.ttf");
}

html, body {
  background-image: url("img/wood3.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;

  color: rgb(0, 0, 0);
  font-size: 25px;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 42px;
  width: 42px;
}

img.hide {
  display: none;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px 30px;
  justify-content: center;
}

#board {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  background-image: url("img/wood6.png");
}

#holds-container {
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto 3px auto;
  width: 220px;
  background: rgba(100, 45, 0, 0.2);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

.holds {
  cursor: pointer;
}

#rolls-container {
  text-align: center;
}

#rollBtn {
  width: 90px;
  height: 30px;
  background: rgba(100, 45, 0, 0.2);

  font-size: 20px;
  line-height: 26px;

  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-radius: 6px;
}

#rollBtn:hover {
  background:transparent;
  cursor: pointer;
}

#rollsLeft {
  font-size: 21px;
}

#boxes-container {
  background-image: url("img/paper.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right;

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;

  width: 300px;
  height: 438px;
  margin: 0 auto;
  padding-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  font-family: Anisa;
  letter-spacing: 2px;
}

#combos-container {
  text-align: left;
}

#points-container {
  text-align: left;
  width: 105px;
  margin-left: 15px;
}

.combo, .combo-points {
  height: 1.27em;
}

.play {
  height: 1.27em;
}

@keyframes pulsate {
  0% {
      opacity: 0.2;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.2;
  }
}

.play-points {
  height: 1.27em;
  cursor: pointer;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  #app {
    flex-direction: column;
    zoom: 100%;
  }
}